/* footer */
.footer {
    background: #222;
    padding: 60px 0px;
    color: #FFF;
}

.footer h1 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom:20px;
}

.footer ul li{
    margin:10px 0px;
}

.footer ul li a {
    color: #FFF;
    text-decoration:none;
}

.footer ul li a:hover {
    color: #08ad9e;
}

.ikonlar .fa {
    font-size: 30px;
    padding: 10px;
    color: #adadad;
}
.social{
    width: 100%;
}