<app-header></app-header>
<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-4 ">
      <div class="mxauto text-center">
          <img [src]='phim.HinhAnh' class="text-center">
          <div class="stars">
              <form action="">
                <input class="star star-5" id="star-5" type="radio" name="star"/>
                <label class="star star-5" for="star-5"></label>
                <input class="star star-4" id="star-4" type="radio" name="star"/>
                <label class="star star-4" for="star-4"></label>
                <input class="star star-3" id="star-3" type="radio" name="star"/>
                <label class="star star-3" for="star-3"></label>
                <input class="star star-2" id="star-2" type="radio" name="star"/>
                <label class="star star-2" for="star-2"></label>
                <input class="star star-1" id="star-1" type="radio" name="star"/>
                <label class="star star-1" for="star-1"></label>
              </form>
            </div>
        </div>
      </div>
      
    <div class="col-md-8">
      <h1>{{phim.TenPhim}}</h1>
      <p>{{phim.MoTa}}</p>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Phòng Chiếu</th>
            <th>Ngày Chiếu</th>
            <th>Giờ Chiếu</th>
            
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lc of phim.LichChieu">
            <td>{{lc.MaRap}}</td>
            <td> {{lc.NgayChieuGioChieu | date:'dd-MM-yyyy'}}</td>
            <td> {{lc.NgayChieuGioChieu | date:'hh:mm'}}</td>
            <td><a [routerLink]="['/home/datve']" [queryParams]="{MaLichChieu:lc.MaLichChieu}" class="btn btn-danger">Đặt Vé</a></td>
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
  
</div>
<app-footer></app-footer>