.DaDatTruoc{
    background-color: darkred;
    cursor: no-drop;
    /*Mình không được đặt*/
}
.DangDat{
    background-color: green;
    cursor: pointer;
    /*Trạng thái đang đặt*/
}
.ChuaDat{
    background-color: darkgray;
    cursor: pointer;
    /*Chưa đặt*/
}
.ghe {
    border:none;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
    /*css cho ghế */
}