<!-- <div class="container-fluid">
  <ngx-carousel [inputs]="Config">
  <ngx-item NgxCarouselItem>
    <div class="banner-carousel1">
      
    </div>
  </ngx-item>
  <ngx-item NgxCarouselItem>
      <div class="banner-carousel2">
          
        </div>
    </ngx-item>
    <ngx-item NgxCarouselItem>
        <div class="banner-carousel3">
            
          </div>
      </ngx-item>
      <ngx-item NgxCarouselItem>
          <div class="banner-carousel4">
              
          </div>
        </ngx-item>
  <button NgxCarouselPrev class="leftRs">&lt;</button>
  <button NgxCarouselNext id="btnCrsNext" class="rightRs">&gt;</button>
</ngx-carousel>
</div> -->
<carousel>
    <slide>
      <img src="../../../assets/images/banner1.jpg" alt="first slide" style="display: block; width: 100%;">
      
    </slide>
    <slide>
      <img src="../../../assets/images/banner2.jpg" alt="second slide" style="display: block; width: 100%;">
     
    </slide>
    <slide>
      <img src="../../../assets/images/banner3.jpg" alt="third slide" style="display: block; width: 100%;">
    </slide>
  </carousel>